<script>
  var animation_mode;
  var filter;
  var data_highlights = {};
  var projection_mode = false;
  blob_labels = true;
  {% if page.url != "/lab/" %}
    animation_mode = "blobs";
  {% else %}
    animation_mode = "blobs";
  {% endif %}

  {% if page.url == "/projections/1/" %}
    projection_mode = true;
    blob_labels = {{page.blob_labels | jsonify}};
  {% endif %}

  {% if page.url == "/projections/2/" %}
    projection_mode = true;
    blob_labels = {{page.blob_labels | jsonify}};
  {% endif %}

  {% if page.url == "/projections/3/" %}
    projection_mode = true;
    blob_labels = {{page.blob_labels | jsonify}};
  {% endif %}

</script>
