<div class="collapse-wrapper">
  <div class="" text-size="{{ include.text-size}}">
    <div class="collapse-paragraphs collapse" id="">
      <!-- {{site.data.application-form.introduction.description | markdownify}} -->
      {{ include.content | markdownify }}
    </div>
  </div>
  <a class="collapse-toggle" data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="">
    <span id="" class="collapse-button text-sm font-weight-semi-bold roboto-mono">Read more +</span>
  </a>
</div>
