<div class='row mb-2'>
  <div class='col d-flex justify-content-between'>

      <div class='text-md'>
        <div class=''>
          About TRR
        </div>
        <div class=''>
          Press Kit
        </div>
      </div>

      <div class='contact text-md'>
        Unsatiated curiosity or unanswered questions?
        <p>Drop us a line at contact@swedishworklab.com and we will come to the rescue!</p>
      </div>


      <div class='TRR'>
        <div class='mb-2 text-sm'>
          An initiative by:
        </div>
          <a href='https://www.trr.se/' target='_blank'><img width='70' src='{{site.data.content.site.assets.trr-logos.white}}' /></a>
      </div>


  </div>
</div>
