<div class="container-fluid">

  <div class='row pt-4 pb-2 text-sm'>

    <div class='col-sm col-lg-4 col-xl-2 mb-5 mb-sm-0'>
        <div class=''>
          <div class=''>
            About TRR
          </div>
          <div class=''>
            Press Kit
          </div>
        </div>
    </div>


    <div class="col-sm mb-3 mb-sm-0">
      <div class='contact'>
        <div class="mb-2 mb-sm-3">
          Unsatiated curiosity or unanswered questions?
        </div>
        <div class="">
          <p class="">Drop us a line at contact@swedishworklab.com and we will come to the rescue!</p>
        </div>
      </div>
    </div>


    <div class="col-sm text-sm-right">
      <div class='TRR'>
        <div class='mb-2'>
          An initiative by:
        </div>
          <a href='https://www.trr.se/' target='_blank'><img width='70' src='{{site.data.content.site.assets.trr-logos.white}}' /></a>
      </div>

    </div>
    
  </div>
</div>
