<div class="">
  <div class="mb-6">
    <b>{{site.data.application-form.headline}}</b>
  </div>
  <div class="text-sm mb-4">
    {{site.data.application-form.disclaimer}}
  </div>

  <div id="application-form-wrapper" class="text-left">
    {% assign form = site.data.application-form %}
    <form id="{{form.form-id}}" action="{{form.url}}" method="post" enctype="multipart/form-data">

      {% assign inputs = site.data.application-form.inputs.details %}
        {% for item in inputs %}
          <div class="form-group mb-6">
            <div class="mb-2">
              {{item.label}}:
            </div>
            {%- if item.type == 'text' -%}
              <input class="form-control" type="text" value="" name="{{item.name}}" {%- if item.required -%}required{%- endif -%}/>
            {%- endif -%}
            {%- if item.type == 'file' -%}
              <!-- <input class="form-control" type="text" value="" name="{{item.field-name}}" /> -->
              <input class="form-control-file" type="file" value="" onchange="parseImage(this)" accept=".jpg, .jpeg, .png" name="{{item.name}}" {%- if item.required -%}required{%- endif -%}/>
              <div class="mt-2" id="upload-preview">
              </div>
            {%- endif -%}
            {%- if item.type == 'textarea' -%}
              <textarea class="form-control" name="{{item.name}}" value="" rows="8" cols="" class="w-100" maxlength="600" {%- if item.required -%}required{%- endif -%}></textarea>
            {%- endif -%}
          </div>
        {% endfor %}
        <div class="text-md">
          <p>By submitting this application you agree to the <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <u>Terms & Conditions</u></a>.</p>
        </div>
        <div class="collapse" id="collapseExample">
          <div class="text-sm">
            {{site.data.application-form.terms | markdownify}}
          </div>
        </div>
        <div class"error" id="form-error">

        </div>
        <input class="border-2 button" type="submit" name="" value="Submit">
    </form>
  </div>
