<div class="">
  {% assign participant = include.content %}
  {% for info in include.info %}


    {% case info %}

      {% when 'image' %}
        <div class="">
          <img src="{{participant[1].photo}}" width="100%" alt="">
        </div>

      {% when 'firstname' %}
        <div class="">
          {{participant[1].firstname}}

      {% when 'lastname' %}
          {{participant[1].lastname}}
        </div>

      {% when 'title' %}
        <div class="">
          {{participant[1].title}}
        </div>

      {% when 'organisation' %}
        <div class="">
          {{participant[1].organisaiton}}
        </div>

      {% when 'bio' %}
          {{participant[1].bio | markdownify}}

      {% else %}
        not found

    {% endcase %}

  {% endfor %}
</div>
