<div class="pb-5">
  {% assign participant = include.content %}


    {% if include.info contains 'image' %}
      <div class="circle-container mb-3">
        <img src="{{participant[1].photo}}" class="circle" width="" alt="">
      </div>
    {% endif %}




    <div class="pb-1 font-weight-bold">
      {{participant[1].firstname}} {{participant[1].lastname}}
    </div>

    <div class="row pb-5 roboto-mono">

      {% if include.info contains 'title' %}
        <div class="col-lg">
          {{participant[1].title}}
        </div>
      {% endif %}

      {% if include.info contains 'organisation' %}
        <div class="col-lg">
          {{participant[1].organisation}}
        </div>
      {% endif %}

  </div>

  {% for info in include.info %}
    {% if info == 'bio' %}
    <div class="">
      {{participant[1].bio | markdownify}}
    </div>
    {% endif %}
  {% endfor %}

</div>
