@import 'bootstrap/variables';

//colors
$primary: $black;
$link-color: rgba($primary, 1);
$error-color: #ff0000;

$light-beige: #c1c1bb;
$medium-beige: #afafaa;

$bg-secondary: $medium-beige !important;
$secondary: $medium-beige !important;

$body-color:                $light-beige;

.bg-body-color {
  background-color: $body-color;
}

$theme-colors: (
  secondary: $medium-beige
);

// Links
//
// Style anchor elements.

$link-color:                inherit;
$link-decoration:           none !default;
$link-hover-color:          inherit;
$link-hover-decoration:     underline !default;


//type
$font-size-xl:                ($font-size-base * 2.8);
$font-size-lg:                ($font-size-base * 2.2);
$font-size-md:                ($font-size-base * 1.8);
$font-size-sm:                ($font-size-base * 1.4);
$font-size-xs:                ($font-size-base);


$line-height-base: 1.4;

$display-line-height: 1.4;

$display0-size:               10rem;
$display1-size:               7.2rem !default;
$display2-size:               6rem !default;
$display3-size:               4.8rem !default;
$display4-size:               3.6rem !default;
$display5-size:               3rem !default;

$display0-weight:             500;
$display1-weight:             400;
$display2-weight:             400;
$display3-weight:             400;
$display4-weight:             400;
$display5-weight:             400;


$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semi-bold:       600;
$font-weight-bold:            700;

.font-weight-medium { font-weight: $font-weight-medium !important; }
.font-weight-semi-bold { font-weight: $font-weight-semi-bold !important; }


.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

//navbar
$navbar-brand-height: 6rem !important;
$navbar-nav-link-padding-x: 1.5rem;
$navbar-padding-y: .8rem;
$navbar-padding-edge: 1.5rem;

$navbar-light-color:                $link-color;
$navbar-light-hover-color:          rgba($black, 1);
$navbar-light-active-color:         inherit;
// $navbar-light-disabled-color:       rgba($black, .3) !default;
// $navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
// $navbar-light-toggler-border-color: rgba($black, .1) !default;


//grid
// $grid-gutter-width: 56px;

// @include media-breakpoint-down(md) {
//
// }

//border
$border-color: inherit;
