---
layout: default
scripts:
  body:
    cdn:
      - //www.gstatic.com/firebasejs/6.1.0/firebase-app.js
    assets:
      - form.js
  head:
    cdn:
    assets:
menu: light
footer: light
---


<!--<header class="post-header">
  <h1 class="post-title">{{ page.title | escape }}</h1>
</header>-->

<div class="about page-content-container">
  <div class="container-fluid">
    <div class="row">

      <div class="col">
        <div class="row">
          <div class="col text-xl">
            {{site.data.info.text | markdownify}}

            <div class="">
              <div class="mt-5">
                <div class="mb-3">
                  Unsatiated curiosity or unanswered questions?
                </div>
                <div class="">
                  <p class="">Drop us a line at contact@swedishworklab.com and we will come to the rescue!</p>
                </div>
              </div>
            </div>

          </div>
          <div class="col-2">

          </div>
        </div>
      </div>

      <div class="col-8">
        <div class="row">
          {%- include form.html -%}
        </div>

        <div class="row">

          <div class="col-6">
          </div>

        </div>



      </div>

    </div>
  </div>


  <div class="footer-wrapper w-100 invisible">
    {%- include footer.html -%}
  </div>

</div>
