---
layout: default
scripts:
  body:
    cdn:
    assets:
      - apply.js
  head:
    cdn:
    assets:
---


<!--<header class="post-header">
  <h1 class="post-title">{{ page.title | escape }}</h1>
</header>-->

<div class="about container-fluid">

  <div class="row flex-row align-items-start">

    <div class="col-lg text-xl">
      {{site.data.application-form.description | markdownify}}
    </div>

    <div class="col">

      <div class="row">
        <div class="col">
          <div id="application-form-wrapper" class="">

            {% assign form = site.data.application-form %}
            <form id="{{form.form-id}}" action="{{form.url}}">

              {% assign inputs = site.data.application-form.inputs.details %}
                {% for item in inputs %}
                  <div class="form-group">
                    <div>
                      {{item.label}}
                    </div>
                    {%- if item.type == 'text' -%}
                      <input class="form-control" type="text" value="" name="{{item.field-name}}" />
                    {%- else -%}
                      <textarea class="form-control" name="{{item.field-name}}" value="" rows="8" cols="" class="w-100"></textarea>
                    {%- endif -%}
                  </div>
                {% endfor %}
                <input type="submit" name="" value="Submit">
            </form>

          </div>
        </div>
      </div>


    </div>

  </div>


  <div class="footer-wrapper w-100 invisible">
    {%- include footer.html -%}
  </div>

</div>
