<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="wrapper position-fixed overflow-hidden">

      <div class="header-wrapper w-100 fixed-top">
        {%- include header.html -%}
      </div>

      <div class="content-wrapper d-flex flex-column w-100 h-100 overflow-hidden">
        <div class="header-wrapper w-100 invisible">
          {%- include header.html -%}
        </div>
        <!-- <main class="page-content" aria-label="Content"> -->
        <div id="" class="content-container overflow-hidden flex-grow-1">
            {{ content }}
        </div>

        <!-- scroll column -->
        <div id="scroll-col" class="container-fluid w-50 h-100 position-absolute overflow-auto">
          <div class="row h-100 ">
            <div class="col-2 d-none">

            </div>
            <div class="col text-center overflow-auto px-5">

              <div class="row py-10">
                <div class="col">
                  <div class="w-75 m-auto">
                    <div id="" class="display-2 mb-8">Will you help us shape the future of work?</div>
                    <div class="display-3">
                      ↓
                    </div>

                  </div>
                </div>
              </div>

              <div class="row border-top border-white py-10">
                <div class="col">
                  <div class="w-75 m-auto">
                    {{site.data.content.intro.abstract | markdownify}}
                    ↓
                  </div>
                </div>
              </div>

              <div class="row border-top border-white py-10">
                <div class="col">
                  <div class="w-75 m-auto">
                    {{site.data.application-form.description | markdownify}}
                    ↓
                  </div>
                </div>
              </div>

              <div class="row border-top border-white py-10">
                <div class="col text-cent">
                  <div class="w-75 m-auto">
                    <div class="mb-8 text-center">
                      {{site.data.application-form.headline}}
                    </div>

                    <div id="application-form-wrapper" class="text-left pb-10">
                      {% assign form = site.data.application-form %}
                      <form id="{{form.form-id}}" action="{{form.url}}" method="post" enctype="multipart/form-data">

                        {% assign inputs = site.data.application-form.inputs.details %}
                          {% for item in inputs %}
                            <div class="form-group mb-6">
                              <div class="mb-3">
                                {{item.label}}:
                              </div>
                              {%- if item.type == 'text' -%}
                                <input class="form-control" type="text" value="" name="{{item.name}}" />
                              {%- endif -%}
                              {%- if item.type == 'file' -%}
                                <!-- <input class="form-control" type="text" value="" name="{{item.field-name}}" /> -->
                                <input class="form-control-file" type="file" value="" onchange="parseImage(this)" accept=".jpg, .jpeg, .png" name="{{item.name}}" />
                                <img id="upload-preview" class="mt-3" src="" height="200" alt="">
                              {%- endif -%}
                              {%- if item.type == 'textarea' -%}
                                <textarea class="form-control" name="{{item.name}}" value="" rows="8" cols="" class="w-100"></textarea>
                              {%- endif -%}
                            </div>
                          {% endfor %}
                          <input type="submit" name="" value="Submit">
                      </form>
                    </div>
                    ↓
                  </div>
                </div>
              </div>

              <div class="row border-top border-white py-10">
                <div class="col">
                  <div class="w-75 m-auto">
                    {{site.data.info.text | markdownify}}
                    ↓
                  </div>
                </div>
              </div>

              <div class="row border-top border-white py-10">
                <div class="col">
                  <div class="w-75 m-auto">
                    {{site.data.content.trr.about | markdownify}}
                  </div>
                </div>
              </div>


            </div>
            <div class="col-2 d-none">

            </div>
          </div>
        </div>


        <!-- </main> -->
        <div class="footer-wrapper w-100 invisible">
          {%- include footer.html -%}
        </div>
      </div>

      <div class="footer-wrapper w-100 fixed-bottom">
        {%- include footer.html -%}
      </div>

    </div>
    <script>
      {% if jekyll.environment == "production" %}
        console.log = function() {}
      {% endif %}
      console.log("page scripts cdn:" ,{{layout.scripts.cdn| jsonify}});
      console.log("page scripts local:" ,{{layout.scripts.assets | jsonify}});
    </script>
    {%- include body-scripts.html -%}
    {%- include page-scripts.html -%}

  </body>

</html>
