---
layout: default
scripts:
  animation: true
  body:
    cdn:
      - //cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js
    assets:
      - netlify.js
      - canvas.js
      - scramble.js
      - main.js
      - form.js
  head:
    cdn:
      - '//identity.netlify.com/v1/netlify-identity-widget.js'
    assets:
css:
    - assets/css/index.css
    - //cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css
    - //cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css

menu: light
footer: light
---



<div class="container-fluid h-100 position-absolute">
  <div class="row h-100">
    <div class="col h-100 mh-100">
      <!-- <canvas id="canvas2D" width="500" height="500"></canvas> -->
      <canvas id="canvas3D" class="no-pointer-e" width="500" height="500"></canvas>
    </div>
  </div>
</div>

<div class="alpha-overlay-b d-none fixed-top w-100 h-100"></div>



<div id="info-container" class="container-fluid position-absolute h-100">
  <div class="row h-100 position-relative d-flex ">

    <div class="col h-100 text-center d-flex flex-column align-items-center py-3">
            <div class="row w-100">
              <div class="col-md-6 text-left">
                <div class="row">
                  <div class="">
                    <a href="https://www.trr.se/" target="_blank"><img width="100" src="{{site.data.content.site.assets.trr-logos.white}}" /></a>
                  </div>
                </div>
              </div>
              <div class="col">
              </div>
              <div class="col-md-2 text-left ">
                <div class="row">
                  <p class="text-md font-weight-normal">An initiaive to collectively shape the future of work.</p>
                </div>
              </div>
            </div>
            <div class="row flex-grow-1 align-items-center">

                <div class="col">
                  <div class="d-inline align-self-center">
                    <div id="loading-text">
                      <span class="text-uppercase d-none">Loading...</span>
                    </div>

                    <div id="landing-text" class="pointer-e-all">
                      <!-- <div id="landing-title" class="display-1">{{site.data.content.intro.headline}}</div> -->

                      <div id="landing-title" class="display-0 m-auto text-uppercase">
                        <div>
                          Swedish<br /><span id="work">Work</span><br />Lab
                        </div>
                      </div>

                      <!-- <div id="landing-title" class="display-1">Will you help us shape the future of <br /><span id="work">work</span>?</div> -->
                      <!-- <div id="landing-year" class="text-black-50 mt-8 d-none">{{site.data.content.site.tagline | markdownify}}</div> -->
                    </div>
                  </div>
                </div>


            </div>

            <div class="display-3 bounce">
              ↓
            </div>





    </div>

  </div>


  <!-- scroll column -->



        <div class="row border-white section-wrapper">
          <div class="col-md text-center">
            <div class="w-75 m-auto">
              <div id="" class="display-2 mb-8">{{site.data.content.intro.headline}}</div>
              <div class="d-none display-3 pb-5">
                ↓
              </div>

            </div>
          </div>
          <div class="col d-flex text-left">
            <div class="m-auto">
              {{site.data.content.intro.abstract | markdownify}}
            </div>
          </div>
        </div>



        <!-- FORM -->
        <div class="row border-white">
          <div class="col">
            <div class="divider-v border-top w-100 border-white"></div>
            <div class="row section-wrapper">

              <div class="col-md text-left">
                  <div class="row">

                    <div class="col">

                      <div class="row mb-4">
                        <div class="col">
                          <div class="m-auto">
                            {{site.data.application-form.description | markdownify}}
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="">
                            {{site.data.info.text | markdownify}}
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-2">
                    </div>

                  </div>
              </div>


              <div class="col text-left">
                  {%- include form.html -%}
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="border-top w-100 border-white divider-v"></div>
              <div class="row section-wrapper">
                <div class="col-md-6">
                  <div class="">
                    {{site.data.content.trr.about | markdownify}}
                  </div>
                </div>
              </div>
          </div>


        </div>






</div>
