---
layout: default
scripts:
  animation: true
  body:
    cdn:
      - //unpkg.com/weakmap-polyfill/weakmap-polyfill.min.js
      - //unpkg.com/formdata-polyfill
    assets:
      - netlify.js
      - scramble.js
      - index.js
  head:
    cdn:
      - '//identity.netlify.com/v1/netlify-identity-widget.js'
    assets:
css:

menu: dark
footer: light
---


{% if layout.scripts.animation %}
  {%- include canvas.html -%}
{% endif %}


<div class="alpha-overlay-b d-none fixed-top w-100 h-100"></div>



<div id="info-container" class="h-100 page-content-container position-absolute">

  <div class="container-fluid d-table h-inherit">

      <div class="row min-h-100 flex-column flex-sm-row">

        <div class="d-none d-sm-block col-sm-4 offset-sm-1 offset-xl-2 align-self-start flex-shrink-1 mb-4 mb-sm-8">
          <div class="display-0 text-capitalize font-weight-semi-bold d-none">
            Swedish<br /><span class="work">work</span><br />lab
          </div>
          <script type="text/paperscript" src="/{{site.js_path}}/paper-canvas.js" canvas="paperCanvas"></script>
          <canvas id="paperCanvas" class="" resize="true"></canvas>
          <img id="logo" class="invisible" width="100%" src="{{site.logo.three.white_animation}}" alt="">
        </div>
        <div class="d-none d-sm-block col-sm">

        </div>

        <div class="d-flex flex-column flex-grow-1 col-10 col-sm-6 col-xl-4 align-items-start">

            <!-- <div id="loading-text" class="d-none">
              <span class="text-uppercase d-none">Loading...</span>
            </div> -->

            <div id="about-container" class="text-md align-self-start">
              <div id="landing-text" class="pointer-e-all w-100 mb-8">
                <div id="landing-title" class="text-md w-75">
                    Will you help us shape the future of <span class="work">work</span>?
                </div>
              </div>

              {%- include collapse.html content=site.data.content.intro.abstract text-size="text-sm" -%}

            </div>
            <div class="display-3 mb-8 mt-auto bounce  helvetica">
              ↓
            </div>
        </div>

      </div>

  </div>




  <div class="container-fluid bg-secondary">
    <div class="row py-8">


          <div class="col-lg-0 d-xl-none text-left">
              <div class="row mb-4">
                <div class="col col-xl-12">
                  <div class="text-lg">

                  </div>
                </div>
              </div>
          </div>


          <div class="col-lg-8 col-xl-6 text-left text-lg mb-8">
            {{site.data.application-form.introduction.headline | markdownify}}
            {%- include collapse.html content=site.data.application-form.introduction.description text-size="text-md" -%}
          </div>

          <div class="col-lg-4 offset-lg-0  col-xl-4 offset-xl-2">
            <div class="row">
              <div class="col">
                <div class="text-lg">
                  <div class="mb-2">
                    <a href="/hackathon" class="">I want to join the hackthon</a> →
                  </div>
                  <div class="">
                    <a href="/lab" class="">Design your own future work journey</a> →
                  </div>
                </div>
              </div>
            </div>
          </div>



    </div>

  </div>


</div>
