---
layout: default
scripts:
  animation: true
  body:
    cdn:
      - //cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js
    assets:
      - netlify.js
      - canvas.js
      - scramble.js
      - main.js
      - apply.js
  head:
    cdn:
      - '//identity.netlify.com/v1/netlify-identity-widget.js'
    assets:
css:
    - assets/css/index.css
    - //cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css
    - //cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css

menu: light
footer: light
---



<div class="container-fluid h-100 position-absolute">
  <div class="row h-100">
    <div class="col h-100 mh-100">
      <canvas id="canvas2D" width="500" height="500"></canvas>
      <canvas id="canvas3D" class="poiner-e" width="500" height="500"></canvas>
    </div>
  </div>
</div>

<div class="alpha-overlay-b d-none fixed-top w-100 h-100"></div>



<div id="info-container" class="container-fluid h-100 position-absolute overflow-hidden d-none">
  <div class="row h-100 position-relative d-flex ">

    <div class="col-6 h-100 border-right border-white text-center d-flex align-items-center  position-absolute overflow-hidden">
      <div class="row h-100 d-flex m-auto text-center align-items-center">
        <div class="col">
          <div class="d-inline-block m-auto front-title text-black">
            <div id="loading-text">
              <span class="text-uppercase d-none">Loading...</span>
            </div>
            <div id="landing-text" class="pointer-e-all">
              <!-- <div id="landing-title" class="display-1">{{site.data.content.intro.headline}}</div> -->

              <div id="landing-title" class="display-0 m-auto text-uppercase">Swedish<br /><span id="work">Work</span><br />Lab</div>
              <!-- <div id="landing-title" class="display-1">Will you help us shape the future of <br /><span id="work">work</span>?</div> -->
              <!-- <div id="landing-year" class="text-black-50 mt-8 d-none">{{site.data.content.site.tagline | markdownify}}</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
