---
layout: default
scripts:
  animation: true
  body:
    cdn:
    assets:
      - lab.js
  head:
    cdn:
      - https://embed.typeform.com/embed.js
    assets:
---


<!--<header class="post-header">
  <h1 class="post-title">{{ page.title | escape }}</h1>
</header>-->

<div class="lab page-content-container h-100 position-absolute w-100">
  <div class="container-fluid d-table h-inherit mb-10 px-0 mb-lg-0">
    <div class="row min-h-100 mb-10">
      <!-- <div class="col">
        <button id="bt-popup" class="my-button">Start</button>
      </div> -->
      <div class="col">
        <div class="typoeform-container h-100 mb-10">

        </div>
      </div>
    </div>
  </div>

</div>
