---
layout: default
scripts:
  animation: true
  body:
    cdn:
    assets:
      - lab.js
  head:
    cdn:
      - https://embed.typeform.com/embed.js
    assets:
---


<!--<header class="post-header">
  <h1 class="post-title">{{ page.title | escape }}</h1>
</header>-->

<div class="lab page-content-container h-100 d-flex flex-column">
  <div class="container-fluid px-0 flex-grow-1">
    <div class="row h-100">
      <!-- <div class="col">
        <button id="bt-popup" class="my-button">Start</button>
      </div> -->
      <div class="col">
        <div class="typoeform-container h-100">

        </div>
      </div>
    </div>
  </div>

</div>
