---
layout: default
---

<div class="page-content-container min-h-100 w-100 position-absolute d-flex flex-grow-1 flex-column justify-content-between">
  <div class="container-fluid h-inherit d-table pb-sm-8">

    {% for row in page.page_content.rows %}
      <div class="row h-100 pb-{{row.padding.padding-bottom}}">

        {% case row.type %}

          {% when 'cols2+1' %}
            <div class="col-8 {% if column.fontSize %}{{ column.fontSize }}{% else %}text-md{%- endif -%}">
              {%- include content.html content=row.col-8.content -%}
            </div>

            <div class="col-4 {% if column.fontSize %}{{ column.fontSize }}{% else %}text-md{%- endif -%}">
              {%- include content.html content=row.col-4.content -%}
            </div>

          {% when 'cols2' %}
            {% for column in row.columns %}
              <div class="col-6 {% if column.fontSize %}{{ column.fontSize }}{% else %}text-md{%- endif -%}">
                {%- include content.html content=column.content -%}
              </div>
            {% endfor %}

          {% when 'cols3' %}
            {% for column in row.columns %}
              <div class="col-4 {% if column.fontSize %}{{ column.fontSize }}{% else %}text-md{%- endif -%}">
                {%- include content.html content=column.content -%}
              </div>
            {% endfor %}

          {% when 'cols1' %}
            <div class="col {% if row.fontSize %}{{ row.fontSize }}{% else %}text-md{%- endif -%}">
              {%- include content.html content=row.content -%}
            </div>

          {% else %}
             None of the above

        {% endcase %}

      </div>
    {% endfor %}

  </div>
</div>
