---
layout: default
---

<div class="page-content-container min-h-100 w-100 position-absolute d-flex flex-grow-1 flex-column justify-content-between">
  <div class="container-fluid h-inherit d-table pb-sm-8">

    {% for row in page.page_content.rows %}
      <div class="row h-100 {% if forloop.last == false %} mb-6 {% endif %}">

        {% case row.type %}

          {% when 'cols1' %}
            <div class="col {% if row.fontSize %}{{ row.fontSize }}{% else %}text-md{%- endif -%}">
              {%- include content.html content=row.content -%}
            </div>

          {% when 'cols2+1' %}
            <div class="col-md-8 mb-4 {% if row.col-8.fontSize %}{{ row.col-8.fontSize }}{% else %}text-md{%- endif -%}">
              {%- include content.html content=row.col-8.content -%}
            </div>

            <div class="col-md-4 {% if row.col-4.fontSize %}{{ row.col-4.fontSize }}{% else %}text-md{%- endif -%}">
              {%- include content.html content=row.col-4.content -%}
            </div>

          {% when 'cols2' %}
            {% for column in row.columns %}
              <div class="col-lg-6 {% if forloop.last == false %} mb-4 {% endif %}  {% if column.fontSize %}{{ column.fontSize }}{% else %}text-md{%- endif -%}">
                {%- include content.html content=column.content -%}
              </div>
            {% endfor %}

          {% when 'cols3' %}
            {% for column in row.columns %}
              <div class="col-md-4 {% if forloop.last == false %} mb-4 {% endif %} {% if column.fontSize %}{{ column.fontSize }}{% else %}text-md{%- endif -%}">
                {%- include content.html content=column.content -%}
              </div>
            {% endfor %}


          {% else %}
             None of the above

        {% endcase %}

      </div>
    {% endfor %}

  </div>
</div>
