---
layout: default
---

<div class="about page-content-container min-h-100 w-100 position-absolute d-flex flex-grow-1 flex-column justify-content-between">
  <div class="container-fluid h-inherit d-table pb-sm-8">
    {% for rows in page.page_content.rows %}
      <div class="row h-100">
        {% for column in rows.row.columns %}
          <div class="col offset-lg-0 {% if column.fontSize %}{{ column.fontSize }}{% else %}text-md{%- endif -%}">
            {{ column.content }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>


</div>
